name: Manual Trigger
on:
  workflow_dispatch: # 禁止自动触发
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x' # 指定 Python 版本
      - name: Install dependencies
        run: pip install --upgrade notionai-py
      - name: Run Python script
        env:
          SECRET_KEY: ${{ secrets.SPACE_ID }}
        run: python script.py $SECRET_KEY # 执行 Python 脚本
